{{/* layouts/partials/post-preview.html */}}
<!-- <h1>!!! OVERRIDE IS WORKING !!!</h1> -->

{{/* --- Debugging Start --- */}}
<!-- <div style="border: 1px solid red; padding: 5px; margin: 5px 0; background-color: #333;">
    <p style="color: yellow;">DEBUG for: {{ .RelPermalink }}</p>
    {{ $thumbParam := .Params.thumbnail }}
    <p style="color: yellow;">Found 'thumbnail' param: [{{ $thumbParam | default "NOT FOUND" }}]</p>
    {{ $image := "" }}
    {{ with $thumbParam }}
        {{ $image = $.Resources.GetMatch . }}
        {{ if $image }}
            <p style="color: lightgreen;">SUCCESS: Matched image resource: {{ $image.Name }}</p>
            <p style="color: lightgreen;">Resource Path: {{ $image.RelPermalink }}</p>
        {{ else }}
            <p style="color: red;">ERROR: Failed to GetMatch resource for path: '{{ . }}'</p>
            <p style="color: orange;">Available Resources:</p>
            <ul>
                {{ range $.Resources }}
                   <li style="color: orange;">{{ .Name }} ({{ .ResourceType }})</li>
                {{ end }}
            </ul>
        {{ end }}
    {{ else }}
        <p style="color: orange;">INFO: No 'thumbnail' parameter set in front matter.</p>
    {{ end }}
</div> -->
{{/* --- Debugging End --- */}}


{{/* --- Configuration --- */}}
{{ $cssWidth := 220 }} {{/* SET this to the target display width from your CSS */}}
{{ $resizeWidth := mul $cssWidth 10 }} {{/* Calculate 10x width */}}
{{/* Use 10x width, highest quality */}}
{{ $thumbResizeOptions := printf "%dx q100 Lanczos" $resizeWidth }} {{/* e.g., "300x q100 Lanczos" */}}

{{/* --- Find Image --- */}}
{{ $image := "" }}
{{ with .Params.thumbnail }}
    {{ $image = $.Resources.GetMatch . }}
{{ end }}

<div class="post-header{{ if $image }} with-thumbnail{{ end }}">

    {{ with $image }}
        {{ $thumb := "" }}
        {{ $thumb := .Resize $thumbResizeOptions }}

        {{/* Container size is controlled by CSS (e.g., 150x150px) */}}
        <div class="post-thumbnail">
            <a href="{{ $.RelPermalink }}" aria-hidden="true" tabindex="-1">
                {{ if $thumb }}
                    {{/* Image src points to the 2x size (e.g., 300px wide) */}}
                    <img src="{{ $thumb.RelPermalink }}"
                         alt="{{ $.Title }} thumbnail"
                         width="{{ $thumb.Width }}"   {{/* Width attribute matches resized image (~300) */}}
                         height="{{ $thumb.Height }}" {{/* Height attribute matches resized image */}}
                         loading="lazy">
                {{ else }}
                    <span style="color: red; font-size: 0.8em;">Resize Err</span>
                {{ end }}
            </a>
        </div>
    {{ end }}
    {{/* --- End Thumbnail Section --- */}}

    <!-- <div class="meta">
        <div class="date">
            <span class="day">{{ dateFormat "02" .Date }}</span>
            <span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
        </div>
    </div> -->
    <div class="matter">
        <h4 class="title small">
            <a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
        </h4>
        <span class="description">
            {{ if isset .Params "description" }}
                {{ .Description | markdownify | safeHTML }} {{/* Process description safely */}}
            {{ else if gt (countrunes (.Content | plainify)) 120 }}
                {{ slicestr (.Content | plainify) 0 120 | safeHTML }}...
            {{ else }}
                {{ .Content | plainify | safeHTML }}
            {{ end }}
        </span>
    </div>
</div>